body {
  margin: 50px;
  font-family: 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ccd5ae;
}

h1 {
  color: black;
  text-align: center;
}

.buttonChange > button{
  margin: 20px;
  background-color: #5b9510 ;
  color: #fefae0;
  border-radius: 20% ;
  text-decoration: none;
  width: 6em;
  height: 4em;
  font-size: 1.5em;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
